
/* default settings */
body{
    background-color: rgb(3, 79, 111);
    font-family: 'varela round' , sans-serif;
    height: 2000px;
}

*{
    margin: 0;
    padding: 0;
}

/* header====================================================*/
.header{
    width: 100%;
    height: 60px;
    top: 0;
    background-color: rgb(14, 11, 11);
    overflow: auto;
    position: fixed;
    z-index: 5;
}

.logo{
    width: 200px;
    height: 60px;
    float: left;
}

.header-list{
    list-style-type: none;
    float: right;
    margin: 15px  50px;
}

.header-list li{
    display: inline-block;
    margin-left: 20px;
}

.header-list li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header-list li a:after{
    content:"";
    width:0;
    height:3px;
    display: block;
    background-color: rgb(13, 182, 255);
    border-radius: 1px;
    margin-top: 3px;
}

.header-list li a:hover::after{
    width: 100%;
    transition: 0.5s;
}


/* introduction of home page==================================================== */
.intro{
    height: 70vh;
    margin-top: 60px;
    background-image: url(../images/oracle.jpg);
    background-size: cover;
    position: relative;
}

.intro .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 79, 111, 0.7);
}

.intro .intro-desc{
    margin: 50px;
    width: 600px;
    float: left;
}

.intro .intro-desc h2{
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}

.intro .intro-desc p{
    font-size: 20px;
    color: white;
}

.intro .intro-desc a{
    color: rgb(92, 185, 224);
    font-weight: bold;
}

.intro .intro-desc span{
    color: rgb(92, 185, 224);
    font-weight: bold;
}

.intro .intro-desc .button1, .button2, .button3{
    height: 50px;
    width: 180px;
    border-radius: 10px;
    padding-top: 10px;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}

.intro .intro-desc button:hover{
    opacity: 0.6;
    transition: 0.5s;
}

.intro .intro-desc button a{
    text-decoration: none;
    color: white;
}


.intro .intro-desc .button1{
    background-color: rgb(35, 158, 101);
}

.intro .intro-desc .button2{
    background-color: rgb(31, 161, 218);
}

.intro .intro-desc .button3{
    background-color: rgb(21, 121, 164);
}

.intro .intro-video{
    float: right;
    margin: 50px;
}

/* Download IDE==================================================== */

.downloading{
    text-align: center;
    background-color: white;
}

.downloading h2{
    padding-top: 30px;
    padding-bottom: 20px;
}

.downloading p{
    font-size: 1.25rem;
}

.downloading .container{
    width: 76%;
    margin: 20px auto;
    overflow: auto;
}

.downloading .container .software{
    width: 350px;
    float: left;
    text-align: center;
    position: relative;
}

.downloading .container .software .software-overlay {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(3, 79, 111) ;
    opacity: 0;
}

.downloading .container .software .software-overlay:hover {
    opacity: 0.9;
    transition: 0.8s;
}



.downloading .container .software2{
    margin-left: 30px;
    margin-right: 30px;
}


 .downloading .container div button{
    height: 50px;
    width: 180px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(172, 216, 235);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.downloading .container div a{
    text-decoration: none;
    color: rgb(3, 79, 111);
    font-weight: bold;
}


.downloading .container div img{
    width: inherit;
    height: 200px;
    display: block;
}

.downloading .line{
    width: 90%;
    height: 4px;
    display: block;
    background-color: rgb(58, 117, 176);
    border-radius: 20px;
    margin: auto;
}

/* Learn Java==================================================== */

.learning{
    background-color: white;  
}

.paths{
    overflow: auto;
    width: 86.5%;
    text-align: center;
    margin: auto;
}

.learning .learning-title{
    text-align: center;
    padding-top: 10px;
}

.learning .line{
    width: 80px;
    height: 4px;
    display: block;
    background-color: rgb(58, 117, 176);
    border-radius: 20px;
    margin: 15px auto;
}



 .paths div{
    border: 2px solid rgba(0, 0, 0, 0.242);
    margin: 10px 0;
    border-radius: 10px;
    float: left;
}

.paths .level1{
    height: 300px;
    width: 400px;
    background-color: rgb(58, 117, 176);
}

.paths .level2{
    height: 300px;
    width: 400px;
    background-color: rgb(58, 117, 176);
    margin: 10px 50px;
}

.paths .level3{
    height: 300px;
    width: 400px;
    background-color: rgb(58, 117, 176);
}

.paths .level4{
    height: 200px;
    width: 400px;
    background-color: rgb(25, 135, 84);
}

.paths .level5{
    height: 200px;
    width: 400px;
    background-color: rgb(25, 135, 84);
    margin: 10px 50px;
}

.paths .level6{
    height: 405px;
    width: 400px;
    background-color: rgb(25, 135, 84);
}

.paths h3{
    padding:5px 8px;
    color: white;
    font-size: 22px;
}


.paths div .learning-list{
    text-align: left;
    padding-left: 30px;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.paths div li{
    padding-top: 10px;
}

.paths div dt{
    display: list-item;
    list-style-type: disc;
    padding-top: 10px;
}

.paths div dd{
    margin-left: 30px;
    display: list-item;
    list-style-type: square;
    color: rgb(6, 40, 54);
    font-weight: bold;
}

/* Channel==================================================== */

.Youtupe-Channel {
    height: 500px;
}

.Youtupe-Channel .container{
    overflow: auto;
    width: 80%;
    margin: auto;
    
}

.container .channel{
    margin:50px 0 50px 0;
    float: left;
}

.container .form{
    width:330px;
    height:400px;
    margin:50px 0 50px 0;
    background-color: white;
    border-radius: 10px;
    float: right;
}

.container .form label{
    font-weight: bold;
    font-size: 13px;
    margin-left: 15px;
    display: block;
}

.container .form input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin: 5px 0 20px 15px;
    border: 2px solid rgb(100, 139, 222);
    font-size: 20px;
    display: block;
}

.container .form h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}

input[type="submit"]{
    background-color: rgb(31, 161, 218);
    font-size: 15px;
    font-weight: bold;
    color: white;
}

/* Contacts==================================================== */

.contacts {
    height: 300px;
    background-color: black;
    position: relative;
}

.contacts .contact-items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contacts .contact-items img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.contacts .contact-items ul{
    list-style-type: none;
    text-align: center;
}

.contacts .contact-items ul li{
    display: inline-block;
    margin: 15px 10px;
}

.contacts .contact-items ul i{
    font-size: 40px;
}

.contacts .contact-items ul .facebook, .linkedin{
    color: rgb(6, 116, 231);
}

.contacts .contact-items ul .youtube{
    color: rgb(235, 25, 25);
}

.contacts .contact-items p{
    text-align: center;
    color: white;
}